
<app-navbar></app-navbar>
<h2>To day</h2>
<div *ngFor="let art of articles">
  <a style="text-decoration: none" href="{{art.url}}" target="_blank">{{art.title}}</a>
  <app-like-action></app-like-action>
  <br>
</div>
<h2>Change </h2>
<div>
  <p>Title: </p>
  <textarea [(ngModel)]="article.title" name=""  cols="30" rows="10"></textarea>
  <p>URL: </p>
  <textarea [(ngModel)]="article.url" name=""  cols="30" rows="10"></textarea>
</div>
<div>
  <button (click)="addNewArrticle()">Add</button>
</div>
<app-footer></app-footer>
