<form [formGroup]="rfForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <!--      <td>Id: </td>-->
      <td><input type="text" formControlName="id" name="name" hidden></td>
    </tr>
    <tr>
      <td>Code (KH-XXXX): </td>
      <td><input type="text" formControlName="code" name=""></td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <p *ngIf="rfForm.controls.code.hasError('pattern') && rfForm.controls.code.touched" style="color: red;
          margin: 0">Mã khách hàng phải đúng định dạng</p>
      </td>
    </tr>
    <tr>
    <td>Name: </td>
    <td><input type="text" formControlName="name" name=""></td>
  </tr>

    <tr>
      <td>Email: </td>
      <td><input type="text" formControlName="email" name=""></td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <p *ngIf="rfForm.controls.email.hasError('email') && rfForm.controls.email.touched" style="color: red;
          margin: 0">Email phải đúng định dạng</p>
      </td>
    </tr>
    <tr>
      <td>Identify Card: </td>
      <td><input type="text" formControlName="identify" name=""></td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <p *ngIf="rfForm.controls.identify.hasError('pattern') && rfForm.controls.identify.touched" style="color: red;
          margin: 0">Identify Card phải đúng định dạng</p>
      </td>
    </tr>
    <tr>
      <td>Phone Number: </td>
      <td><input type="text" formControlName="phoneNumber" name=""></td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <p *ngIf="rfForm.controls.phoneNumber.hasError('pattern') && rfForm.controls.phoneNumber.touched" style="color: red;
          margin: 0">Phone Number phải đúng định dạng</p>
      </td>
    </tr>
    <tr>
      <td>Date Of Birth: </td>
      <td><input type="date" formControlName="dateOfBirth" name=""></td>
    </tr>
    <tr>
      <td>

      </td>
      <td>
        <p *ngIf="rfForm.controls.dateOfBirth.hasError('required') && rfForm.controls.dateOfBirth.untouched" style="color: red;
          margin: 0">Date Of Birth</p>
      </td>
    </tr>
  </table>

</form>
